/* Navbar styling */
.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000; /* ensures navbar stays above other content */
    width: 100%;
}

/* Body styling*/
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px; /* matches footer height */
}

/* Footer styling */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    width: 100%;
    position: absolute; 
    bottom: 0;
}
